.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  height: 600px;
  width: 700px;
}
.button {
  background-color: #34a1eb; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 6px;
}
.button:hover {
  background-color: #61b5ed;
}
